.backdrop {
    background-color: #C4FFC2;
    font-family: Georgia, Garamond, serif;
    color: #3b1f03;
}
.bad {
    font-family: "Comic Sans MS", Papyrus, sans-serif;
    font-weight: bold;
}
.optional {
    color: red;
}